body{
    font-family: Arial,  sans-serif;
    margin: 0;
    background-color: white;
    color: brown;
}
header{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 2.5rem;
}
header p{
    font-size: 1.2rem;
}
section{
    padding: 30px;
    max-width: 900px;
    margin: auto;
}
h2{
    color: blueviolet;
}
ul{
    list-style: square;
    margin-left: 20px;
}
.recursos h2{
    color: rgb(255, 72, 0);
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background: white;
    padding: 2px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(255, 72, 0);
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 200px;
    margin-bottom: 15px;
}
.card h3{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.card p{
    font-size: 0.95em;
    margin-bottom: 15px;
}
.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 72, 0);
    padding: 8px 15px;
    border-radius: 6px;
    transition: background 0.3s;
}
.card a:hover{
    background: rgb(160, 53, 0);
}